/* html {
  font-size: 3vh !important;
}

.label {
  font-size: 3vh !important;
}

.input {
  font-size: 3vh !important;
}

.select {
  font-size: 2vh !important;
}

.title {
  font-size: 3vh !important;
} */
